absl-py==2.1.0 ; python_version >= "3.12"
accelerate==1.5.2 ; python_version >= "3.12"
aiohappyeyeballs==2.6.1 ; python_version >= "3.12"
aiohttp==3.11.14 ; python_version >= "3.12"
aiosignal==1.3.2 ; python_version >= "3.12"
altair==5.5.0 ; python_version >= "3.12"
anyio==4.9.0 ; python_version >= "3.12"
appnope==0.1.4 ; python_version >= "3.12" and platform_system == "Darwin"
asttokens==3.0.0 ; python_version >= "3.12"
astunparse==1.6.3 ; python_version >= "3.12"
asyncio==3.4.3 ; python_version >= "3.12"
attrs==25.3.0 ; python_version >= "3.12"
autograd==1.7.0 ; python_version >= "3.12"
beautifulsoup4==4.13.3 ; python_version >= "3.12"
blinker==1.9.0 ; python_version >= "3.12"
bs4==0.0.2 ; python_version >= "3.12"
build==1.2.2.post1 ; python_version >= "3.12"
cachecontrol==0.14.2 ; python_version >= "3.12"
cachetools==5.5.2 ; python_version >= "3.12"
certifi==2025.1.31 ; python_version >= "3.12"
cffi==1.17.1 ; (sys_platform == "linux" or implementation_name == "pypy" or platform_python_implementation == "PyPy") and python_version >= "3.12"
charset-normalizer==3.4.1 ; python_version >= "3.12"
click==8.1.8 ; python_version >= "3.12"
cloudpickle==3.1.1 ; python_version >= "3.12"
colorama==0.4.6 ; python_version >= "3.12"
comm==0.2.2 ; python_version >= "3.12"
contourpy==1.3.1 ; python_version >= "3.12"
cryptography==44.0.2 ; python_version >= "3.12" and sys_platform == "linux"
cycler==0.12.1 ; python_version >= "3.12"
dask==2025.2.0 ; python_version >= "3.12"
datasets==3.4.1 ; python_version >= "3.12"
debugpy==1.8.13 ; python_version >= "3.12"
decorator==5.2.1 ; python_version >= "3.12"
diffusers==0.32.2 ; python_version >= "3.12"
dill==0.3.8 ; python_version >= "3.12"
distlib==0.3.9 ; python_version >= "3.12"
distributed==2025.2.0 ; python_version >= "3.12"
dulwich==0.22.8 ; python_version >= "3.12"
emoji==2.14.1 ; python_version >= "3.12"
entrypoints==0.4 ; python_version >= "3.12"
et-xmlfile==2.0.0 ; python_version >= "3.12"
evaluate==0.4.3 ; python_version >= "3.12"
executing==2.2.0 ; python_version >= "3.12"
faker==37.0.2 ; python_version >= "3.12"
fastjsonschema==2.21.1 ; python_version >= "3.12"
favicon==0.7.0 ; python_version >= "3.12"
filelock==3.18.0 ; python_version >= "3.12"
findpython==0.6.3 ; python_version >= "3.12"
flatbuffers==25.2.10 ; python_version >= "3.12"
fonttools==4.56.0 ; python_version >= "3.12"
frozenlist==1.5.0 ; python_version >= "3.12"
fsspec==2024.12.0 ; python_version >= "3.12"
gast==0.6.0 ; python_version >= "3.12"
gitdb==4.0.12 ; python_version >= "3.12"
gitpython==3.1.44 ; python_version >= "3.12"
google-pasta==0.2.0 ; python_version >= "3.12"
grpcio==1.71.0 ; python_version >= "3.12"
h11==0.14.0 ; python_version >= "3.12"
h2o==3.46.0.6 ; python_version >= "3.12"
h5py==3.13.0 ; python_version >= "3.12"
htbuilder==0.9.0 ; python_version >= "3.12"
httpcore==1.0.7 ; python_version >= "3.12"
httpx==0.28.1 ; python_version >= "3.12"
huggingface-hub==0.29.3 ; python_version >= "3.12"
idna==3.10 ; python_version >= "3.12"
importlib-metadata==8.6.1 ; python_version >= "3.12"
importlib==1.0.4 ; python_version >= "3.12"
installer==0.7.0 ; python_version >= "3.12"
ipykernel==6.29.5 ; python_version >= "3.12"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.12"
ipython==9.0.2 ; python_version >= "3.12"
jaraco-classes==3.4.0 ; python_version >= "3.12"
jaraco-context==6.0.1 ; python_version >= "3.12"
jaraco-functools==4.1.0 ; python_version >= "3.12"
jedi==0.19.2 ; python_version >= "3.12"
jeepney==0.9.0 ; python_version >= "3.12" and sys_platform == "linux"
jinja2==3.1.6 ; python_version >= "3.12"
joblib==1.4.2 ; python_version >= "3.12"
jsonschema-specifications==2024.10.1 ; python_version >= "3.12"
jsonschema==4.23.0 ; python_version >= "3.12"
jupyter-client==8.6.3 ; python_version >= "3.12"
jupyter-core==5.7.2 ; python_version >= "3.12"
kagglehub==0.3.10 ; python_version >= "3.12"
keras==3.9.0 ; python_version >= "3.12"
keyring==25.6.0 ; python_version >= "3.12"
kiwisolver==1.4.8 ; python_version >= "3.12"
libclang==18.1.1 ; python_version >= "3.12"
lightning-utilities==0.14.1 ; python_version >= "3.12"
locket==1.0.0 ; python_version >= "3.12"
lxml==5.3.1 ; python_version >= "3.12"
markdown-it-py==3.0.0 ; python_version >= "3.12"
markdown==3.7 ; python_version >= "3.12"
markdownlit==0.0.7 ; python_version >= "3.12"
markupsafe==3.0.2 ; python_version >= "3.12"
matplotlib-inline==0.1.7 ; python_version >= "3.12"
matplotlib==3.10.1 ; python_version >= "3.12"
mdurl==0.1.2 ; python_version >= "3.12"
ml-dtypes==0.5.1 ; python_version >= "3.12"
more-itertools==10.6.0 ; python_version >= "3.12"
mpi4py==4.0.3 ; python_version >= "3.12"
mpmath==1.3.0 ; python_version >= "3.12"
msgpack==1.1.0 ; python_version >= "3.12"
multidict==6.2.0 ; python_version >= "3.12"
multiprocess==0.70.16 ; python_version >= "3.12"
namex==0.0.8 ; python_version >= "3.12"
narwhals==1.31.0 ; python_version >= "3.12"
nest-asyncio==1.6.0 ; python_version >= "3.12"
networkx==3.4.2 ; python_version >= "3.12"
nltk==3.9.1 ; python_version >= "3.12"
numpy==2.1.3 ; python_version >= "3.12"
nvidia-cublas-cu12==12.4.5.8 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
nvidia-cuda-cupti-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
nvidia-cuda-nvrtc-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
nvidia-cuda-runtime-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
nvidia-cudnn-cu12==9.1.0.70 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
nvidia-cufft-cu12==11.2.1.3 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
nvidia-curand-cu12==10.3.5.147 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
nvidia-cusolver-cu12==11.6.1.9 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
nvidia-cusparse-cu12==12.3.1.170 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
nvidia-cusparselt-cu12==0.6.2 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
nvidia-nccl-cu12==2.21.5 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
nvidia-nvjitlink-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
nvidia-nvtx-cu12==12.4.127 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
onnx==1.17.0 ; python_version >= "3.12"
openpyxl==3.1.5 ; python_version >= "3.12"
opt-einsum==3.4.0 ; python_version >= "3.12"
optree==0.14.1 ; python_version >= "3.12"
packaging==24.2 ; python_version >= "3.12"
pandas==2.2.3 ; python_version >= "3.12"
parso==0.8.4 ; python_version >= "3.12"
partd==1.4.2 ; python_version >= "3.12"
pbs-installer==2025.3.17 ; python_version >= "3.12"
peft==0.14.0 ; python_version >= "3.12"
pexpect==4.9.0 ; python_version >= "3.12" and sys_platform != "win32" and sys_platform != "emscripten"
pillow==11.1.0 ; python_version >= "3.12"
pkginfo==1.12.1.2 ; python_version >= "3.12"
platformdirs==4.3.7 ; python_version >= "3.12"
plotly==6.0.1 ; python_version >= "3.12"
portalocker==3.1.1 ; python_version >= "3.12"
prometheus-client==0.21.1 ; python_version >= "3.12"
prompt-toolkit==3.0.50 ; python_version >= "3.12"
propcache==0.3.0 ; python_version >= "3.12"
protobuf==5.29.3 ; python_version >= "3.12"
psutil==7.0.0 ; python_version >= "3.12"
ptyprocess==0.7.0 ; python_version >= "3.12" and sys_platform != "win32" and sys_platform != "emscripten"
pure-eval==0.2.3 ; python_version >= "3.12"
pyarrow==19.0.1 ; python_version >= "3.12"
pycparser==2.22 ; (sys_platform == "linux" or implementation_name == "pypy" or platform_python_implementation == "PyPy") and python_version >= "3.12"
pycurl==7.45.6 ; python_version >= "3.12"
pydeck==0.9.1 ; python_version >= "3.12"
pygments==2.19.1 ; python_version >= "3.12"
pymdown-extensions==10.14.3 ; python_version >= "3.12"
pyparsing==3.2.1 ; python_version >= "3.12"
pyproject-hooks==1.2.0 ; python_version >= "3.12"
python-dateutil==2.9.0.post0 ; python_version >= "3.12"
pytorch-lightning==2.5.1 ; python_version >= "3.12"
pytz==2025.1 ; python_version >= "3.12"
pywin32-ctypes==0.2.3 ; python_version >= "3.12" and sys_platform == "win32"
pywin32==309 ; (sys_platform == "win32" or platform_system == "Windows") and python_version >= "3.12"
pyyaml==6.0.2 ; python_version >= "3.12"
pyzmq==26.3.0 ; python_version >= "3.12"
rapidfuzz==3.12.2 ; python_version >= "3.12"
referencing==0.36.2 ; python_version >= "3.12"
regex==2024.11.6 ; python_version >= "3.12"
requests-toolbelt==1.0.0 ; python_version >= "3.12"
requests==2.32.3 ; python_version >= "3.12"
rich==13.9.4 ; python_version >= "3.12"
rouge-score==0.1.2 ; python_version >= "3.12"
rpds-py==0.23.1 ; python_version >= "3.12"
sacrebleu==2.5.1 ; python_version >= "3.12"
safetensors==0.5.3 ; python_version >= "3.12"
scikit-learn==1.6.1 ; python_version >= "3.12"
scipy==1.15.2 ; python_version >= "3.12"
secretstorage==3.3.3 ; python_version >= "3.12" and sys_platform == "linux"
sentence-transformers==3.4.1 ; python_version >= "3.12"
sentencepiece==0.2.0 ; python_version >= "3.12"
setuptools==76.1.0 ; python_version >= "3.12"
shellingham==1.5.4 ; python_version >= "3.12"
six==1.17.0 ; python_version >= "3.12"
smmap==5.0.2 ; python_version >= "3.12"
sniffio==1.3.1 ; python_version >= "3.12"
sortedcontainers==2.4.0 ; python_version >= "3.12"
soupsieve==2.6 ; python_version >= "3.12"
st-annotated-text==4.0.2 ; python_version >= "3.12"
st-theme==1.2.3 ; python_version >= "3.12"
stack-data==0.6.3 ; python_version >= "3.12"
streamlit-avatar==0.1.3 ; python_version >= "3.12"
streamlit-camera-input-live==0.2.0 ; python_version >= "3.12"
streamlit-card==1.0.2 ; python_version >= "3.12"
streamlit-elements==0.1.0 ; python_version >= "3.12"
streamlit-embedcode==0.1.2 ; python_version >= "3.12"
streamlit-extras==0.6.0 ; python_version >= "3.12"
streamlit-faker==0.0.3 ; python_version >= "3.12"
streamlit-image-coordinates==0.1.9 ; python_version >= "3.12"
streamlit-keyup==0.3.0 ; python_version >= "3.12"
streamlit-option-menu==0.4.0 ; python_version >= "3.12"
streamlit-toggle-switch==1.0.2 ; python_version >= "3.12"
streamlit-vertical-slider==2.5.5 ; python_version >= "3.12"
streamlit==1.43.2 ; python_version >= "3.12"
sympy==1.13.1 ; python_version >= "3.12"
tabulate==0.9.0 ; python_version >= "3.12"
tblib==3.0.0 ; python_version >= "3.12"
tenacity==9.0.0 ; python_version >= "3.12"
tensorboard-data-server==0.7.2 ; python_version >= "3.12"
tensorboard==2.19.0 ; python_version >= "3.12"
tensorflow==2.19.0 ; python_version >= "3.12"
termcolor==2.5.0 ; python_version >= "3.12"
threadpoolctl==3.6.0 ; python_version >= "3.12"
tiktoken==0.9.0 ; python_version >= "3.12"
tokenizers==0.21.1 ; python_version >= "3.12"
toml==0.10.2 ; python_version >= "3.12"
tomlkit==0.13.2 ; python_version >= "3.12"
toolz==1.0.0 ; python_version >= "3.12"
torch==2.6.0 ; python_version >= "3.12"
torchaudio==2.6.0 ; python_version >= "3.12"
torchmetrics==1.6.3 ; python_version >= "3.12"
torchvision==0.21.0 ; python_version >= "3.12"
tornado==6.4.2 ; python_version >= "3.12"
tqdm==4.67.1 ; python_version >= "3.12"
traitlets==5.14.3 ; python_version >= "3.12"
transformers==4.49.0 ; python_version >= "3.12"
triton==3.2.0 ; platform_system == "Linux" and platform_machine == "x86_64" and python_version >= "3.12"
trove-classifiers==2025.3.19.19 ; python_version >= "3.12"
typing-extensions==4.12.2 ; python_version >= "3.12"
tzdata==2025.1 ; python_version >= "3.12"
urllib3==2.3.0 ; python_version >= "3.12"
validators==0.34.0 ; python_version >= "3.12"
virtualenv==20.29.3 ; python_version >= "3.12"
watchdog==6.0.0 ; python_version >= "3.12"
wcwidth==0.2.13 ; python_version >= "3.12"
werkzeug==3.1.3 ; python_version >= "3.12"
wheel==0.45.1 ; python_version >= "3.12"
wrapt==1.17.2 ; python_version >= "3.12"
xxhash==3.5.0 ; python_version >= "3.12"
yarl==1.18.3 ; python_version >= "3.12"
zict==3.0.0 ; python_version >= "3.12"
zipp==3.21.0 ; python_version >= "3.12"
zstandard==0.23.0 ; python_version >= "3.12"
